
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
backend_project/venv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Node
node_modules/
dist/
long/
coverage/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
